<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        table {
            border-collapse: collapse;
            border-spacing: 0;
            width: 100%;
            border: 1px solid #ddd;
        }
        
        th,
        td {
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #f2f2f2
        }
    </style>
</head>

<body>

    <h2 style="text-align: center;">Fetched Tweets</h2>

    <div style="overflow-x:auto;">
        <table>
            <tr>
                <th>User Id</th>
                <th>Text</th>
                <th>Favorite Count</th>
                <th>Retweet Count</th>
            </tr>
            {% for tweet in data %}
            <tr>
                <td>{{tweet.tweet_userid}}</td>
                <td>{{tweet.tweet_text}}</td>
                <td>{{tweet.tweet_favorite_count}}</td>
                <td>{{tweet.tweet_retweet_count}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>

</html>